html, body
{  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color:#FBF0FF;
    margin: 0;
    padding: 0;
}


a{  text-decoration: none;  }

.nav-bar
{
    position: fixed;
    background-color: #280136;
    height: 5%;
    width: 100%;
    text-align: right;
    text-transform: uppercase;
    font-size: 14px;
    padding-right: 10px;
    padding-top: 15px;
    z-index: 2;
}

.nav-bar a
{
    color: #FBF0FF;
    text-align: right;
    padding-bottom: 5px;
    padding-top: 15px;
    padding-right: 15px;
}

.details
{
    background-image: linear-gradient(#280136, #5e0080);
    color: #FBF0FF;
    height: 100px;
    width: 100%;
    position: absolute;
    margin-top: 40px;
}

.details img
{
    left: 15%;
    height: 100px;
    position: absolute;
}

.lower-nav-bar
{
    position: relative;
    background-color: lightgray;
    border: 1px solid #5e0080;
    color: #280136;
    position: relative;
    top: 150px;
    width: auto;
    height: 40px;
    padding-left: 5%;
    padding-right: 5%;
    display: inline-block;
}

.lower-nav-bar a
{
    float: left;
    padding-top: 10px;
    color: #280136;
}

.tabs
{
    background-color: lightgray;
    border: 1px solid #5e0080;
    color: #5e0080;

    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
    margin-top: 155px;

    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 10px;
    padding-top: 5px;
}

.tabs h3 {  color: #280136; text-align: center; }

.tabs a, .tabs i
{   color: #5e0080;    }

.left-panel
{
    width: 65%;
    height: auto;
    float: left;
    margin: 2px;
}

.right-panel
{
    width: 30%;
    height: auto;
    overflow: hidden;
    padding-left: 4%;
    margin-top: 10px;
}

.right-panel img
{
    margin-top: 10px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: #280136 1px solid;
}

.fun-q
{   
    margin-top: 15%;
    border-top: #280136 3px double;    
}

.edu-panel img
{
    width: 30%;
    height: auto;
    float: left;
}

.edu-panel
{
    width: 70%;
    margin-top: 5%;
    margin: 0 auto;
}

.exp-panel img
{
    width: 30%;
    height: auto;
    float: left;
}

.exp-panel
{
    width: 70%;
    margin-top: 5%;
    margin: 0 auto;
}

.proj-panel img
{
    width: 30%;
    height: auto;
    float: left;
}

.proj-panel
{
    width: 70%;
    margin-top: 5%;
    margin: 0 auto;
}

footer
{
    background-color: #280136;
    color: #FBF0FF;
    height: 10%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer a{ color: #FBF0FF; }

/*.box-art { position: relative; height: 100px; width: 100px; border: solid #610085 3px; background-color: #610085; 
    animation-name: drop-diamond-style; animation-duration: 4s; animation-delay: 1s; animation-iteration-count: 1; }

@keyframes drop-diamond-style 
{ 0% {background-color: #610085; left: 0px; top: 0px;} 20% {background-color: #8734a5; left: 0px; top: 100px;}
    40% {background-color: #9c62b1; left: 0px; top: 200px;} 60% {background-color: #ac8bb8; left: 0px; top: 300px;}
    80% {background-color: #cbbfcf; left: 0px; top: 400px;} 100% {background-color: white; left: 0px; top: 500px;} }

The CSS margin property defines space from edge of screen to border
The CSS border property defines a border around an HTML element b/w margin & padding
The CSS padding property defines space between the text content and the border.
class = .
id = #
*/